.card-icon {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	border: $color-action 10px solid;
	color: $color-action;
	border-radius: 30px;
	width: 250px;
	padding: 10px;
	transition: all 0.2s;

	&:hover,
	&:focus {
		border: $color-secondary 10px solid;
		color: $color-secondary;
		transform: scale(1.1);
	}
}
