.header {
	height: 6rem;
	display: flex;
	align-items: center;
}

.main-logo {
	font-family: $font-heading;
	font-size: 2.4rem;
	color: $color-primary;
	font-weight: 900;
	text-decoration: none;
}

.navbar {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 100;

	&__list {
		display: flex;
		list-style: none;
		column-gap: 2rem;
	}

	&__link {
		font-family: $font-heading;
		font-size: 1.6rem;
		text-decoration: none;
		color: $color-black;
		transition: all 0.2s;

		&:hover {
			color: $color-action;
		}
	}
}

.active {
	color: $color-action;
}
